<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.bigdata.invest.platform.dao.invest.IInvestnewMessageBroadcastDao">
  <resultMap id="BaseResultMap" type="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sender_user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="company_type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="is_revoke" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sender_user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="company_type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="is_revoke" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="message" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sender_user_id, company_id, company_type, is_revoke, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from investnew_message_broadcast
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from investnew_message_broadcast
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into investnew_message_broadcast (sender_user_id, company_id, company_type, 
      is_revoke, create_time, update_time, 
      message)
    values (#{sender_user_id,jdbcType=VARCHAR}, #{company_id,jdbcType=BIGINT}, #{company_type,jdbcType=CHAR}, 
      #{is_revoke,jdbcType=BIT}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into investnew_message_broadcast
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sender_user_id != null">
        sender_user_id,
      </if>
      <if test="company_id != null">
        company_id,
      </if>
      <if test="company_type != null">
        company_type,
      </if>
      <if test="is_revoke != null">
        is_revoke,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sender_user_id != null">
        #{sender_user_id,jdbcType=VARCHAR},
      </if>
      <if test="company_id != null">
        #{company_id,jdbcType=BIGINT},
      </if>
      <if test="company_type != null">
        #{company_type,jdbcType=CHAR},
      </if>
      <if test="is_revoke != null">
        #{is_revoke,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    update investnew_message_broadcast
    <set>
      <if test="sender_user_id != null">
        sender_user_id = #{sender_user_id,jdbcType=VARCHAR},
      </if>
      <if test="company_id != null">
        company_id = #{company_id,jdbcType=BIGINT},
      </if>
      <if test="company_type != null">
        company_type = #{company_type,jdbcType=CHAR},
      </if>
      <if test="is_revoke != null">
        is_revoke = #{is_revoke,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    update investnew_message_broadcast
    set sender_user_id = #{sender_user_id,jdbcType=VARCHAR},
      company_id = #{company_id,jdbcType=BIGINT},
      company_type = #{company_type,jdbcType=CHAR},
      is_revoke = #{is_revoke,jdbcType=BIT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htf.bigdata.invest.platform.model.invest.InvestnewMessageBroadcastModel">
    update investnew_message_broadcast
    set sender_user_id = #{sender_user_id,jdbcType=VARCHAR},
      company_id = #{company_id,jdbcType=BIGINT},
      company_type = #{company_type,jdbcType=CHAR},
      is_revoke = #{is_revoke,jdbcType=BIT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectNoCompany" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from investnew_message_broadcast
        where id > #{minimumId,jdbcType=BIGINT}
        and (company_id = 0 or ISNULL(company_id))
        and is_revoke=0
    </select>
  <select id="selectByCompany" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from investnew_message_broadcast
    where id > #{minimumId,jdbcType=BIGINT}
      and company_id = #{companyId,jdbcType=BIGINT}
      and company_type = #{companyType,jdbcType=CHAR}
      and is_revoke=0
  </select>
</mapper>